{% extends 'base.html' %}

{% block content %}
    <div class="opciones">
        <p>Controles Disponibles:</p>
        <a class="btn_link" id="link" href="/climites/">Control por Limites de Votos</a>
        <a class="btn_link" id="link" href="/ctotales/">Control de Votos no Positivos</a>
        <a class="btn_link" id="link" href="/cdiferencial/">Control Diferencial</a>
        <a class="btn_link" id="link" href="/cestadistico/">Control Estadistico</a>
    </div>
{% endblock %}