{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="acta" style="max-width: 1200px; margin: auto">    
        <div class="informacion">
            <div class="basica">
                <div class="titulo">
                    <h1><b>{{eleccion.nombre}}</b>({{eleccion.fecha.date}})</h1>
                    {% if municipio %}<h2><b>Municipio:</b> {{municipio.nombre}}</h2>{% endif %}
                    <h2>Valor Maximo Aceptado: {{valor_maximo}}</h2>
                    {% if totales %}Conceptos: 
                        {%for total in totales %}
                            <p>{{total.orden}} - {{total.nombre}}</p>
                        {%endfor%}
                    {%endif%}
                    {% if cargos %}Cargos: 
                        {%for cargo in cargos %}
                            <p>{{cargo.orden}} - {{cargo.nombre}}</p>
                        {%endfor%}
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 40px; margin-bottom: 30px;">
            <table class="mesas_situacion">
                <tr>
                    <th>Mesa</th>
                    <th>Tipo</th>
                    <th>Cargo</th>
                    <th>Votos en Acta</th>
                </tr>
                {% for item in reporte %}
                    <tr>
                        <td><a href="{% url 'core:cargar_acta' eleccion.id item.0 %}">{{item.0}}</a></td>
                        <td><b>{{item.1}}</b></td>
                        <td>{{item.2}}</td>
                        <td>{{item.3}}</td>
                    <tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
{% endblock %}