{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="acta" style="max-width: 1200px; margin: auto">    
        <div class="informacion">
            <div class="basica">
                <div class="titulo">
                    <h1><b>{{eleccion1.nombre}}</b>({{eleccion1.fecha.date}})</h1>
                    {% if municipio %}<h2><b>Municipio:</b> {{municipio.nombre}}</h2>{% endif %}
                    {% if listas %}Agrupacion: 
                        {%for lista in listas %}
                            <p>{{lista.alpha_id}}{{lista.agrupacion.alpha_id}} - {{lista.nombre}}</p>
                        {%endfor%}
                    {%endif%}
                    {% if cargos %}Cargos: 
                        {%for cargo in cargos %}
                            <p>{{cargo.orden}} - {{cargo.nombre}}</p>
                        {%endfor%}
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 40px; margin-bottom: 30px;">
            <table class="mesas_situacion">
                <tr>
                    <th>Mesa</th>
                    <th colspan="2">Lista</th> 
                    <th>Cargo</th>
                    <th>Acta Nuestra</th>
                    <th>Acta Simecom</th>
                    <th>Diferencia</th>
                </tr>
                {% for item in reporte %}
                    <tr>
                        <td>{{item.0}}</td>
                        <td>{{item.1}}</td>
                        <td>{{item.2}}</td>
                        <td>{{item.3}}</td>
                        <td><a href="{% url 'core:cargar_acta' eleccion1.id item.0 %}">{{item.4}}</a></td>
                        <td><a href="{% url 'core:cargar_acta' eleccion2.id item.0 %}">{{item.5}}</a></td>
                        <td>{{item.6}}</td>
                    <tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
{% endblock %}
