{% extends 'base.html' %}

{% block content %}
    <h1>Contacto</h1>
    <hr>
    <p>Este proyecto fue desarrollado por la <b>Direccion de Unificacion Informatica</b> de la Provincia de Jujuy utilizando <b>Python3 + Django2</b>
        es publico y de codigo abierto, podes acceder al mismo y la informacion respectiva de como instalarlo, parametrizarlo y utilizarlo 
        <a href="https://gitlab.com/mmandrille/escrutinio">Aqui</a>
    </p>
    <p>Puede acceder a la informacion de como utilizar el sistema y con que funcionalidades cuenta:
        <a href="https://gitlab.com/mmandrille/escrutinio/blob/master/documentacion/ManualFuncional.pdf">Aqui</a>
    </p>
    <p>Puede acceder a la informacion de como Parametrizar el sistema para su implementacion:
        <a href="https://gitlab.com/mmandrille/escrutinio/blob/master/documentacion/ManualTecnico.pdf">Aqui</a>
    </p>
    <hr>
    <p>Para recibir soporte o por cualquier tipo de consultas podes contactarnos:</p>
    <ol>
        <li><b>Email:</b> <a href="mmandrille@gmail.com.ar">mmandrille@gmail.com.ar</a></li>
        <li><b>Dirección:</b> Sarmiento 174, 3E</li>
        <li><b>Telefonico:</b>
            <ul>
                <li>Telefono: +54 0388 4456442</li>
            </ul>
        </li>
    </ol>
    <hr>
{% endblock %}