{% extends 'base.html' %}
{% block content %}
    <h1><b>{{titulo}}</b></h1>
    <hr>
    {% if form %}
        <div class="centrado">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-group">
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                    <p style="color:black">{{ error }}</p>
                {% endfor %}
                </div>
            {% endfor %}
            <!--
            <div class="g-recaptcha" data-sitekey="6LcCu6cUAAAAAJRfRKDwCPiNXaHSGiIgRBF6bLhK" style="margin-top: 15px; margin-bottom:15px;"></div>
            -->
            <button style="margin-top:15px;" type="submit">Cargar</button>
            </form>
        </div>
    {% elif message %}
        <h1>{{message}}</h1>
    {% elif count %}
        <h1>Se lograron Cargar {{ count }} Elementos.</h1>
        {% if mesas_mod %}
            <p><b>Mesas Que fueron Actualizadas</b></p>
            <ul>
                {% for mesa in mesas_mod %}
                    <li>{{mesa.vieja}} > <b>Nueva: {{mesa.nueva.numero}}</b> - Calidad: {{mesa.porc_calidad|floatformat:2}}%</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <div class="opciones">
            <a class="btn_link" href="geografica">Informacion Geografica</a>
            <a class="btn_link" href="mesas">Mesas</a>
            <a class="btn_link" href="mesas_testigos">Mesas Testigos</a>
            <a class="btn_link" href="padron">Padron</a>
            <a class="btn_link" href="cargar_votos">Votos Sistema Propio</a>
            <a class="btn_link" href="cargar_oficial">Votos Escrutinio Oficial</a>
        </div>
    {% endif %}
{% endblock %}