{% extends 'base.html' %}

{% block content %}
    <div class="centrado">
        <h2>{{votante.apellido}}, {{votante.nombre}}</h2>
        <p><b>Numero de Documento:</b> {{votante.num_doc}}</p>
        <p><b>Mesa:</b> {{votante.mesa.numero}}</p>
        <p><b>Escuela:</b> {{votante.mesa.escuela.nombre}}</p>
        <p><b>Direccion:</b> {{votante.mesa.escuela.direccion}}</p>
    </div>
{% endblock %}