{% block content %}
    <li class="filterDiv{%if responsable.municipio%} municipio{%endif%}{%if responsable.circuito%} circuito{%endif%}{%if responsable.escuela%} escuela{%endif%}{% if responsable.mesa %} mesa{%endif%}">
        <div class="resp_nombre">
            <p>{{responsable.apellido}}, {{responsable.nombres}}</p>
        </div>
        <div class="resp_area">
            {% if responsable.municipio %}
                <p><b>Municipio: </b>{{responsable.municipio.nombre}}</p>
            {% endif %}
            {% if responsable.circuito %}
                <p><b>Circuito: </b>{{responsable.circuito.nombre}}</p>
            {% endif %}
            {% if responsable.escuela %}
                <p><b>Escuela: </b>{{responsable.escuela.nombre}}</p>
            {% endif %}
            {% if responsable.mesa %}
                <p><b>Mesa: </b>{{responsable.mesa.numero}}</p>
            {% endif %}
        </div>
        <div class="resp_telefono">
            {% if responsable.telefono %}
                <p>Tel: {{responsable.telefono}}</p>
            {% endif %}
        </div>
        <div class="resp_mail">
            {% if responsable.email %}
                <p>mail: {{responsable.email}}</p>
            {% endif %}
        </div>
    </li>
{% endblock %}