{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="acta">    
        <div class="informacion">
            <div class="basica">
                <div class="titulo">
                    <h1><b>{{eleccion.nombre}}</b>({{eleccion.fecha.date}})</h1>
                    {% if municipio %}<h2><b>Municipio:</b> {{municipio.nombre}}</h2>{% endif %}
                    <h3>Listado de Responsables</h3>
                </div>
            </div>
            <div class="derecha">
                {% include "utils/muni_form.html" %}
                {% include "utils/stat_mesas.html" %}
            </div>
        </div>
        {% include "responsables/tabs.html" %}
        <div class="listado_mesas">
            <ul class="responsable">
                {% for responsable in responsables %}
                    {% include "responsables/responsable.html" %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
{% endblock %}




