{% block content %}
        <div class="tabs myBtnContainer">
            <button class="btn active" onclick="filterSelection('all')">Todos</button>
            <button class="btn" onclick="filterSelection('municipio')">Municipios</button>
            <button class="btn" onclick="filterSelection('circuito')">Circuitos</button>
            <button class="btn" onclick="filterSelection('escuela')">Escuela</button>
            <button class="btn" onclick="filterSelection('mesa')">Mesa</button>
        </div>
{% endblock %}