{% extends 'base.html' %}
{% load static %}
{% load basic_tags %}

{% block content %}
    {% if elecciones %}
        <div class="opciones">
            {% if user.is_staff %}
                <form action="" method="POST" enctype="multipart/form-data" class="opciones_form">
                    {% csrf_token %}
                    <select class="select-eleccion" name="eleccion" id="eleccion" onchange="changelinks(this.value)">
                        {% for eleccion in elecciones %}
                            <option name="id_eleccion" value="{{eleccion.id}}">{{ eleccion.nombre }}</option>
                        {% endfor %}
                    </select>
                </form>
                <div class="opciones_form">
                    {% pertenece user 'Cargador' as autorizado %}
                    {% if user.is_superuser or autorizado %}
                        <a class="btn_link" id="link" href="/cargar/{{eleccion.id}}">Carga de Actas</a>
                        <a class="btn_link" id="link" href="/cargadas/{{eleccion.id}}">Mesas Cargadas</a>
                    {% endif %}
                    {% pertenece user 'Resultados' as autorizado %}
                    {% if user.is_superuser or autorizado %}
                        <a class="btn_link" id="link" href="/resultados/{{eleccion.id}}">Ver Resultados</a>
                        <a class="btn_link" id="link" href="/situacion_escrutinio/{{eleccion.id}}">Situacion Escrutinio</a>
                    {% endif %}
                    {% pertenece user 'Fiscales' as autorizado %}
                    {% if user.is_superuser or autorizado %}
                        <p>Fiscales</p>
                        <a class="btn_link" id="link" href="/controles/">Controles</a>
                        <a class="btn_link" id="link" href="/cargar_resp/{{eleccion.id}}">Cargar Responsable</a>
                        <a class="btn_link" id="link" href="/responsables/{{eleccion.id}}">Responsables</a>
                    {% endif %}
                    {% pertenece user 'Parametrizador' as autorizado %}
                    {% if user.is_superuser or autorizado %}
                        <p>Parametrizaciones</p>
                        <a class="btn_link" id="link" href="/replicar_actas/{{eleccion.id}}">Replicar Acta a Otro Municipio</a>
                        <a class="btn_link" href="/replicar_eleccion/">Replicar Eleccion Completa</a>
                        <a class="btn_link" href="/download_oficial/">Sincronizar Escrutinio Oficial</a>
                    {% endif %}
                    {% if user.is_superuser %}
                        <p>Opciones de Consistencia</p>
                        <a class="btn_link" id="link" href="/rellenar_totales/{{eleccion.id}}">Rellenar Totales</a>
                        <p>Opciones de Administrador</p>
                        <a class="btn_link" href="/backup/">Backup a CSV</a>
                        <a class="btn_link" href="/uploadcsv/">Carga Masiva</a>
                    {% endif %}
                </div>
            {% else %}
                <div class="opciones_form">
                    <a class="btn_link" href="/donde_voto/">Buscar Donde Voto</a>
                    <a class="btn_link" href="/login/">Debe ingresar al sistema</a>
                </div>
            {% endif %}

        </div>
    {% else %}
        <p>Debe parametrizar el sistema iniciando por la creacion de una eleccion activa</p>
        <p>Ingrese <a href="/admin/core/eleccion/add/">Aqui</a> para realizar esa tarea</p>
    {% endif %}
    <br>
{% endblock %}