{% block content %}
    <div class="info_mesa">
        <a href="/cargar/{{eleccion.id}}/{{mesa.numero}}" target="_blank">
            <b>{{mesa.numero}}</b>
        </a>
    </div>
    <div class="info_localizacion">
        <p>Municipio:{{mesa.escuela.circuito.municipio.nombre}}</p>
        <p>Escuela: {{mesa.escuela.nombre}}</p>
    </div>
    {% if mesa.testigo %}
        <div class="info_testigo">
            TESTIGO
        </div>
    {% endif %}
    {% if mesa.acta.escaneado %}
        <div class="info_escaneada">
            <a href="/{{mesa.acta.escaneado.url}}" target="_blank">
                Escaneada
            </a>
        </div>
    {% endif %}
{% endblock %}