{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="acta">
        <div class="informacion">
            <div class="col-md-5">
                <div class="titulo">
                    <h1><b>{{eleccion.nombre}}</b>({{eleccion.fecha.date}})</h1>
                    {% if municipio %}<h2><b>Municipio:</b> {{municipio.nombre}}</h2>{% endif %}
                    <a class="buttonDownload" href="/listado_mesas_csv/{{eleccion.id}}">Descargar Informe</a>
                    {% include "utils/muni_form.html" %}
                </div>
            </div>
            <div class="col-md-7">
                
                {% include "utils/stat_mesas.html" %}
            </div>
        </div>
        {% include "mesas/tabs.html" %}
        <div class="col-md-8">
        <div class="listado_mesas">
            <ul class="mesas">
                {% for mesa in mesas %}
                    <li class="filterDiv{% if mesa.cargada %} cargada{%else%} sincargar{%endif%}{% if mesa.testigo %} testigo{% endif %}{% if mesa.acta.escaneado %} escaneada{% endif %}">
                        {% include "mesas/mesas_item.html" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
        {% if chart %}
        <div class="col-md-4">
            <a href="/grafico/{{chart.cache_name}}">
                <div class="chart-resultados" id="piechart"></div>
            </a>
            {% include "utils/pie_chart.html" %}
        {% endif %}
        </div>
    </div>
    <br>
{% endblock %}