{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="acta" style="max-width: 1200px; margin: auto">    
        <div class="informacion">
            <div class="basica">
                <div class="titulo">
                    <h1><b>{{eleccion.nombre}}</b>({{eleccion.fecha.date}})</h1>
                    {% if municipio %}<h2><b>Municipio:</b> {{municipio.nombre}}</h2>{% endif %}
                    <a class="buttonDownload" href="/listado_mesas_csv/{{eleccion.id}}">Descargar Informe</a>
                    {% include "utils/muni_form.html" %}
                </div>
            </div>
            <div class="derecha">
                
                {% include "utils/stat_mesas.html" %}
                
            </div>
        </div>
        <div class="col-md-9" style="margin-top: 40px; margin-bottom: 30px;">
            <table class="mesas_situacion">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th colspan="2">Mesas</th> 
                    <th>Escrutadas</th>
                    <th>Porcentaje</th>
                    <th>Votantes</th>
                </tr>
                {% for item in listado %}
                    <tr>
                        <td>{{item.alpha_id}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.cmesas}}</td>
                        <td>({{item.mesa_inicio}} - {{item.mesa_fin}})</td>
                        <td>{{item.cescrutadas}}</td>
                        <td>{{item.porcentaje|floatformat:1}}%</td>
                        <td>{{item.cvotantes}}</td>
                    <tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-3">
            {% if chart %}
                    <a href="/grafico/{{chart.cache_name}}">
                        <div class="chart-resultados" id="piechart"></div>
                    </a>
                    {% include "utils/pie_chart.html" %}
            {% endif %}
        </div>
    </div>
    <br>
{% endblock %}
