{% block content %}
        <div class="tabs myBtnContainer">
            <button class="btn active" onclick="filterSelection('all')">Todas</button>
            <button class="btn" onclick="filterSelection('cargada')">Cargadas</button>
            <button class="btn" onclick="filterSelection('escaneada')">Escaneadas</button>
            <button class="btn" onclick="filterSelection('sincargar')">Sin Cargar</button>
            <button class="btn" onclick="filterSelection('testigo')">Testigo</button>
        </div>
{% endblock %}