{% block content %}
    <div class="localizacion">
        <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal formulario" style="margin:10px;"> 
            {% csrf_token %}
            <div class="form-left">
                <p><b>Seleccione un circuito:</b></p>
                <select name="id_circuito" id="id_circuito">
                    {% for circuito in circuitos %}
                        <option name="id_circuito" value="{{circuito.id}}">{{ circuito.alpha_id }} > {{ circuito.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-right">                    
                <button class="btn btn-primary" > <span class="glyphicon" style="margin-right:5px;"></span>Buscar</button>
            </div>
        </form>
    </div>
{% endblock %}