{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if guardado %}
        <div class="derecha" style="float:right;">
            <h2>Se Guardo con exito! <img style="width:50px;" src="{% static 'img/icons/check.png' %}"></h2>
        </div>
    {% endif %}
    <div class="centrado">
      <form class="form_generico" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="input-group">
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color:black">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        <div class="g-recaptcha" data-sitekey="6LcCu6cUAAAAAJRfRKDwCPiNXaHSGiIgRBF6bLhK" style="margin-top: 15px; margin-bottom:15px;"></div>
        <button style="margin-top:15px;" type="submit">Cargar</button>
      </form>
    </div>
{% endblock %}