{% block content %}
    <div class="localizacion">
        <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal formulario" style="margin:10px;"> 
            {% csrf_token %}
            <div class="form-left">
                <p><b>Seleccione un municipio:</b></p>
                <select name="id_municipio" id="id_municipio">
                    {% for municipio in municipios %}
                        <option name="id_municipio" value="{{municipio.id}}">{{ municipio.alpha_id }} > {{ municipio.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-right">                    
                <button class="btn btn-primary" > <span class="glyphicon" style="margin-right:5px;"></span>Buscar</button>
            </div>
        </form>
    </div>
{% endblock %}