{% if chart %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            {% for item in chart.table %}
                {{item|safe}},
            {% endfor %}
            ]);
            // Optional; add a title and set the width and height of the chart
            var options = {'title':"{{chart.titulo}}", 'width':{{chart.width}}, 'height':{{chart.height}}};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
    }
    </script>
{% endif %}