{% load mesas_tags %}
{% block content %}
    <a class="link2mesas" href="/situacion_escrutinio/{{eleccion.id}}/{{columna.id}}{% if municipio %}{{municipio.id}}{%endif%}">
        <div class="stat_mesas">
            {% if circuito %}
                {% stat_mesas eleccion municipio circuito as stats %}
            {% elif municipio %}
                {% stat_mesas eleccion municipio as stats %}
            {% else %}
                {% stat_mesas eleccion as stats %}
            {% endif %}
            <p>Total de mesas: {{stats.0}}</p>
            <p>Total de Votantes: {{stats.3}}</p>
            <p>Mesas Cargadas: {{stats.1}}</p>
            <p>Porcentaje Escrutado: {{stats.2|floatformat:2}}%</p>
        </div>
    </a>
{% endblock %}