{% if tablechart %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawTable() {
        var data = new google.visualization.DataTable();
        {% for columna in tablechart.columnas %}
            data.addColumn({{columna.tipo}}, {{columna.nombre}});
        {% endfor %}

        data.addRows([
            {% for linea in tablechart.lineas %}
                {{linea}}
            {% endfor %}
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, {showRowNumber: False, width: '100%', height: '100%'});
      }
    </script>
{% endif %}