{% extends 'base.html' %}
{% load static %}
{% load table_tags %}

{% block content %}
    {% if chart %}
        <div class="centrado">
            <div class="chart-resultados-full" id="piechart"></div>
        </div>
        {% include "utils/pie_chart.html" %}
    {% endif %}
{% endblock %}