{% load static %}
{% block content %}
    <li class="ranking_item">
        <div class="ranking_logo">{% if item.1.agrupacion.logo %}<img src="/archivos/{{item.1.agrupacion.logo}}">{%endif%}</div>
        <div class="ranking_nombre">{{ item.1.nombre }}</div>
        <div class="ranking_votos">Votos: {{ item.0 }}</div>
    </li>
{% endblock %}