{% block content %}
    <div class="links">
        <a class="link2proyectar" href="/proyectado/{{eleccion.id}}/{{columna.id}}{% if municipio %}{{municipio.id}}{%endif%}">
            <p>Ver Proyeccion</p>
        </a>
        <a class="link2proyectar" href="/proyectadobruto/{{eleccion.id}}/{{columna.id}}{% if municipio %}{{municipio.id}}{%endif%}">
            <p>Ver Proyeccion en Bruto</p>
        </a>
    </div>
{% endblock %}