{% extends 'base.html' %}
{% load table_tags %}

{% block content %}
    <div class="titulo">
        <div class="basica">
            <h1><b>{{eleccion.nombre}}</b>({{eleccion.fecha.date}})</h1>
            {% if municipio %}
                <h2><b>{{municipio.id}}</b> {{municipio.nombre}}</h2>
            {% endif %}
        </div>
        <div class="derecha">
            {% include "utils/stat_mesas.html" %}
        </div>
    </div>
    <br>
    <div class="ranking">
        {% if cargo.poder == 2 %}
            <div class="ranking_top" style="display:block; width:100%">
                <h3>Listado de Cargos Obtenidos:</h3>
                <ul>
                    {% for key, values in top_rank.items %}
                        <li><b>{{key}}:</b> {{values}} Cargos</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="ranking_lista col-md-8">
            <h2><b>Cargo:</b> {{cargo.nombre}} (Cantidad de Escaños: {{cargo.cant_escanios}})</h2> 
            <ul class="ganador">
                {% for item in full_rank.0 %}
                    {% include "resultados/item_ranking.html" %}
                {% endfor %}
            </ul>
            <ul class="perdedor">
                {% for item in full_rank.1 %}
                    {% include "resultados/item_ranking.html" %}
                {% endfor %}
            </ul>
            {% if cargo.poder == 2 %}
                <p><b> Cantidad minima de electores: {{ piso }}</b></p>
                <ul class="eliminados">
                    {% for item in full_rank.2 %}
                        {% include "resultados/item_ranking.html" %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% if chart %}
        <div class="col-md-4">
            <a href="/grafico/{{chart.cache_name}}">
                <div class="chart-resultados" id="piechart"></div>
            </a>
        </div>
        {% include "utils/pie_chart.html" %}
    {% endif %}
    </div>
    <br><br>
{% endblock %}