{% extends 'base.html' %}
{% load static %}
{% load table_tags %}

{% block content %}
    <div class="acta resultados">
        <div class="informacion">
            <div class="col-md-5">
                <h1><b>{{eleccion.nombre}}</b>({{eleccion.fecha.date}})</h1>
                {% if municipio %}
                    <h3><b>{{municipio.id}}</b> - {{municipio.nombre}}</h3>
                {% endif %}
                {% if circuito %}
                    <h3><b>{{circuito.id}}</b> - {{circuito.nombre}}</h3>
                {% else %}
                    {% include "resultados/link_proyectar.html" %}
                {% endif %}
            </div>
            <div class="col-md-5">
                {% if municipios %}
                    {% include "utils/muni_form.html" %}
                {% endif %}
                {% if circuitos %}
                    {% include "utils/circu_form.html" %}
                {% endif %}
            </div>
            <div class="col-md-2 derecha">
                {% include "utils/stat_mesas.html" %}
            </div>
        </div>
        {% include "resultados/resultado_tabs.html" %}
        <div class="full_tabla">
            <table class="tabla">
                <thead class="cabecera">
                    {% include "resultados/resultado_cabecera.html" %}
                </thead>
                <tbody>
                    <tr class="tr_vacia">
                        <td colspan="{{ header|length }}"></td>
                    </tr>
                    {% if agrupaciones %}
                        {% for agrupacion in agrupaciones %}
                            {% include "resultados/resultado_linea_voto_prov.html" %}
                        {% endfor %}
                    {% elif listas %}
                        {% for lista in listas %}
                            {% include "resultados/resultado_linea_voto_muni.html" %}
                        {% endfor %}
                    {% endif %}
                    <tr class="tr_vacia">
                        <td colspan="{{ header|length }}"></td>
                    </tr>
                    <!-- Se cargan filas de totales -->
                    {% include "resultados/resultado_totales.html" %}
                </tbody>
            </table>
            {% if chart %}
                <a href="/grafico/{{chart.cache_name}}">
                    <div class="chart-resultados" id="piechart"></div>
                </a>
                {% include "utils/pie_chart.html" %}
            {% endif %}
        </div>
    </div>
    
    <br>
{% endblock %}