{% block content %}
        <tr class="tr_header">
            {% for columna in header %}
                {% if columna.get_cname == 'columna' %}
                    <th class="colfijas">{{columna.nombre}}</th>
                {% elif columna.get_cname == 'cargo' %}
                    <th class="colcantidades">
                        <div class="popup" onclick="PopUp({{columna.id}})">
                            {{columna.nombre}}
                            <span class="popuptext" id="myPopup-{{columna.id}}">
                                <a href="/ranking/{{eleccion.id}}/{{columna.id}}/{% if columna.tipo == 3 %}{{municipio.id}}{%endif%}">Ver Resultados Actual</a>
                                <a href="/rankpro/{{eleccion.id}}/{{columna.id}}/{% if columna.tipo == 3 %}{{municipio.id}}{%endif%}">Ver Resultados Proyectado</a>
                                <a href="/rankprobruto/{{eleccion.id}}/{{columna.id}}/{% if columna.tipo == 3 %}{{municipio.id}}{%endif%}">Ver Resultados Proyectado Bruto</a>
                            </span>
                        </div>
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
{% endblock %}