{% load table_tags %}
{% block content %}
    <tr class="tr_votos">
        {% for columna in header %}
            {% if columna.get_cname == 'columna' %}
                <td class="colfijas">{% obtener_valor lista columna.show_field %}</td>
            {% elif columna.get_cname == 'cargo' %}
                {% if columna in lista.cargos.all %}
                    <td class="input colcantidades">
                        <div id="Enteros" class="tabcontent" style="display:initial;">
                            {% obtener_votos votos lista columna %}
                        </div>
                        <div id="Porcentual" class="tabcontent">
                            {% obtener_pvotos votos lista columna %}
                        </div>
                    </td>
                {% elif not columna.lista_field %}
                    <td class="colcantidades"><div class="vacio">X</div></td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
{% endblock %}