{% load table_tags %}
{% block content %}
    {% for total in totales %}
        <tr class="tr_totales">
            <td colspan="2" class="colfijas" style="text-align:right;padding-right:20px;"><b>{{total.nombre}}</b></td>
            {% for columna in header %}
                {% if columna.get_cname == 'cargo' %}
                    <td class="input colcantidades">
                        <div id="Enteros" class="tabcontent" style="display:initial;">
                            {% obtener_conteos conteos total columna %}
                        </div>
                        <div id="Porcentual" class="tabcontent">
                            {% obtener_pconteos conteos total columna %}
                        </div>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}