{% block content %}
        <div class="tabs" style="max-width: 227px; text-align: center;">
            <button class="tablinks" onclick="openTab(event, 'Enteros')">Enteros</button>
            <button class="tablinks" onclick="openTab(event, 'Porcentual')">Porcentual</button>
        </div>
{% endblock %}