/* MESAS CARGADAS */
.listado_mesas{
    width: 70%;
    margin: 0 auto;
}

.mesas{
    list-style-type:none;
}

.mesas>li{
    text-align: justify;
    width:100%;
    padding: 5px;
    border-bottom: 2px solid #4149b1;
    font-family: Archia;
}

.mesas p
{
    font-family: Arial;
}

.cargada .info_mesa{
    background-color: rgba(10, 150, 10);
}

.sincargar .info_mesa{
    background-color: rgb(238, 142, 16);
}

.sincargar.escaneada .info_mesa{
    background-color: rgba(200, 30, 30) !important;
}

.testigo{
    
    font-weight: bold;
}

.info_mesa{
    width: 10%;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    background: #000;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    color: white;
    border-radius: 50%;
    margin-right: 20px;
    display: inline-flex;
    flex-direction: column;
    padding-top: 14px;
}

.info_mesa b
{
    width: 0px;
    overflow: visible;
}

.info_localizacion {
    width: 60%;
    vertical-align: middle;
    display: inline-block;
}

.info_testigo {
    width: 15%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: white;
    background: rgb(65, 73, 177);
}

.info_escaneada {
    width: 10%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background: green;
}

.listado_mesas a{
    color: white;

}

.mesas_situacion>tbody>tr>th {
    text-align: center;
}

.mesas_situacion>tbody>tr>td {
    padding-right: 20px;
}

.link2mesas:link {
    color: black;
  } 
  /* visited link */
.link2mesas:visited {
    color: black;
  }
  /* mouse over link */
.link2mesas:hover {
    color: hotpink;
  }