/* MESAS CARGADAS */
.listado_responsables{
    width: 70%;
    margin: 0 auto;
}

.responsable{
    list-style-type:none;
}

.responsable>li{
    text-align: justify;
    width:100%;
    padding: 5px;
    border-style: solid;
    border-color: black;
    margin: 5px;
}

.resp_nombre{
    width: 20%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: large;
}

.resp_area {
    width: 40%;
    vertical-align: middle;
    display: inline-block;
}

.resp_telefono {
    width: 20%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.resp_mail {
    width: 15%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}