/* RESULTADOS */
.ranking{
    vertical-align: top;
}

.ranking_top{
    width: 35%;
    float: left;
}

.ranking_top>ul{
    list-style: none;
}

.ranking_lista{
    width: 50%;
    margin: 0 auto;
}

.ranking_lista>ul{
    list-style-type: none;
    text-align: justify;
    font-weight: bold;
    margin: 15px;
    padding: 0;
    box-shadow: 0px 0px 20px #00000042;
    border-radius: 5px;
    color: white;
    text-shadow: 0px 0px 5px #00000070;
    font-size: 1.2em;
    overflow: hidden;
}

.ranking_lista>ul.ganador{
    background-color: rgb(65, 73, 177);
}

.ranking_lista>ul.perdedor{
    background-color: rgb(175, 179, 220);
}

.ranking_lista>ul.eliminados{
    background-color: rgb(226, 91, 91);
}

.ranking_lista>ul>li{
    margin: 10px;
    width: 100%;
    margin-left: 0px;
}

.ranking_logo>img {
    height: 100%;
    width: auto;
    max-width: 85%;
    border-radius: 5px;
    margin-left: 5px;
    position: relative;
    top: -3px;
}

.ranking_logo {
    display: inline-block;
    width: 30%;
    height: 45px;
}