/*BASICOS*/
html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("../img/background.png");
    overflow-x: hidden;
    font-family: Archia;
    padding-top: 70px;
    min-height: 95%;
}

main {
    margin-top: 0;
}

h1 {
    font-family: Archia;
}

p {
    font-family: Lato-Black;
    font-size: 16px;
}

a:focus,
a:hover {
    text-decoration: none;
}

/*Portada*/

.portada {
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    box-shadow: 0 0 30px #1c4d657a;
    overflow: hidden;
    text-align: center;
    width: auto;
    padding-top: 0%;
    padding-bottom: 20px;
    vertical-align: bottom;
}

.portada img {
    padding-top: 10px;
    padding-left: 10px;
    margin: auto;
    text-align: center;
    display: inline-block;
    filter: invert(1);
    width: 150px;
}

.portada h1 {
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: block;
    width: 100%;
    color: #4149b1;
    font-size: 2em;
    padding-top: 10px;
}

.portada>.mobile {
    display: none;
}

 /*BEGIN MAIN */
.opciones{
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    list-style: none;
    background: white;
    box-shadow: 0px 0px 30px #d2d2d27d;
    border-radius: 3px;
    margin-top: 45px;
    margin-bottom: 30px;
}

.opciones>form.opciones_form{
    height:auto;

    margin:0 auto !important;
    text-align: center;

    padding-top: 25px;
    padding-bottom: 5px;  

    font-weight: bold;
}

.opciones>form>p{
    text-align: center;
    margin-top: 20px;
    font-family: Archia;
    color: #666;
    margin-bottom: 15px;
}

.login_link, .opciones>form>select, .opciones>form>button{
    width: 70%;
    text-align-last:center;
    margin:0 auto;
    margin-bottom: 15px;
    text-align: center;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    background: #4149b1;
    color: white;
    padding: 10px 30px;
    width: 400px;
    border: none;
    box-shadow: 0px 0px 10px #2d337b8c;
}

.login_link:hover, .opciones>form>select, .opciones>form>button:hover {
	background-color:#4e57c5;
}
.opciones>form>button:active {
	position:relative;
	top:1px;
}

/* SELECT ACTA*/
.centrado{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    max-width: 50%;
}

.localizacion{
    width: 90%;
    margin: auto;
    padding-top: 5px;
}
.localizacion .form-left{
    text-align: left;
    padding: 15px;
    display:inline;
}
.localizacion .form-right{
    display:inline;
    padding: 15px;
}

/* SELECT MUNICIPIO */
.status_superior{
    float: right;
    margin-top: 20px;
    list-style: none;
}
.status_superior>a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.status_superior>a>li{
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin: 15px; 
    font-weight: bold;
}

.status_superior>a>li.veracta{
    background-color: green;
    border-color:green;
}
.status_superior>a>li.subiracta{
    background-color: #4149b1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #c3b0b0;
    color: white;
}

/* FORMULARIOS */

.form-horizontal
{
    width: 100%;
    padding: 20px;
    margin-top: 40px !important;
    border-radius: 4px;
}

.main .form-horizontal
{
    box-shadow: 0px 0px 30px #2d337b3d;
    background: white;
    text-align: center;
    margin: auto;
}

.form-horizontal p
{
    font-family: Arial;
    color: #333;
}

.btn-primary
{
    background-color: #4149b1;
    border: none;
    margin-top: 10px;
    box-shadow: 0px 0px 10px #b8bcec;
    padding: 6px 25px;
}

.btn-primary:hover
{
    opacity: 0.9;
    background-color: #535bc7 !important;
}

.popup .popuptext > a:hover {
    color: hotpink;
}

.opciones {
    min-height: 25%;
    vertical-align: middle;
    text-align: center;
}

.opciones p
{
  font-family: Arial;
}

.centrado{
    font-weight: inherit !important;
}

.ranking_item{
    height: 50px;
    width: 100%;
    margin: 5px;
    display: inline-block;
    border-bottom: 1px solid #4149b140;
}

.ranking_logo{
    display: inline-block;
    width: 30%;
}

.ranking_logo>img{
    height: 100px;
    max-width: 85%;
}

.ranking_nombre{
    vertical-align: middle;
    display: inline-block;
    width: 40%;
}

.ranking_votos{
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    width: 15%;
}

.links{
    display: flex;
    align-items: center;
}

.link2proyectar{

}

.link2proyectar:link {
    color: black;
  } 
  /* visited link */
.link2proyectar:visited {
    color: black;
  }
  /* mouse over link */
.link2proyectar:hover {
    color: rgb(105, 245, 255);
  }

.link2proyectar
{
    display: flex;
    flex-direction: row-reverse;
}

.link2proyectar p
{
    background: #4149b1;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Archia;
    width: auto;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.opciones a{
    width: 70%;
    text-align-last:center;
    margin:0 auto;
    margin-bottom: 15px;
    text-align: center;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:block;
    cursor:pointer;
    color:#14396a;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    background: #4149b1;
    color: white;
    padding: 10px 30px;
    width: 400px;
    border: none;
    box-shadow: 0px 0px 10px #2d337b8c;
}
.opciones a:hover {
	background-color:#4e57c5;
}
.opciones a:active {
	position:relative;
	top:1px;
}

/* Boton de descarga */
.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
	background-color: #4149b1;
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: rgb(125, 195, 197);
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4149b1;
}

.buttonDownload:hover:after {
	border-top-color: #4149b1;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}

.form_generico{
    width: 700px !important;
}

.form_generico>div{
    margin-top: 10px;
}

.form_generico>div>ul {
    padding-left: 0px;
    list-style: none;
}