/* TABLA ACTA */
.acta{

}
.informacion{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-top: 20px;
    display: table;
    margin-bottom: 20px;
}

.informacion b
{
    color: #4249b1;
}

.informacion>h1{

}

.basica{
  /*  width: 30%; */
    display:inline-block;
    vertical-align: top;
}

.derecha{
/*    width: 55%; */
    display:inline-block;
    vertical-align: top;
    text-align: right;
    float: right;
}

.localizacion{
/*    width: 60%; */
    display:inline-block;
    vertical-align: top;
}

.localizacion_carga{
    width: 45%;
    display:inline-block;
    vertical-align: top;
}

select#id_municipio {
    max-width: 60%;
}

.stat_mesas{
    margin-top:25px;
    margin-bottom: 15px;
    padding: 1px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0000001f;
    border: none;
    padding: 10px 5px;
    min-width: 200px;
    width: 300px;
}

.stat_mesas p
{
    font-family: Arial;
}

.info_extra{
    margin-top:25px;
    padding: 1px;
    width: 20%;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
}

.full_tabla{

}
.tabla{
    width: 100%;
    border-spacing: 0 5px;
    max-width: 1200px;
    margin: auto;
    display: table;
}
.cabecera{
    background-color: #000000;
    color: white;
    height: 50px;
}

th, td {
    padding: 1px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f3ff;
}

.tr_header{

}

.tr_votos{

}

.tr_totales{

}

.total_correcto{
    background-color: rgba(10, 150, 10) !important;
    color: white;
}

.total_incorrecto{
    background-color: rgb(226, 90, 91) !important;
    color: white;
}

.total_correcto input, .total_incorrecto input
{
    color: black;
}

/*
.total_correcto>td{
    background-color: rgb(112, 161, 112);
}

.total_correcto>td>input{
    background-color: rgb(112, 161, 112);
}

.total_incorrecto>td{
    background-color: rgb(163, 71, 71);
}

.total_incorrecto>td>input{
    background-color: rgb(163, 71, 71);
}*/

.tr_vacia{
    height: 2px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}

.colfijas{

}
.colcantidades{
    text-align: center;
    font-weight: bold;
}

.colcantidades>input{
    text-align: center;
}

.colcantidades .vacio{
    font-weight: initial;
}

.num_agrup{
    width: 100px;
    padding-bottom: 10px;
}
.nom_agrup{
    width: 250px;
    padding-bottom: 10px;
}
.nom_lista{
    width: 250px;
    padding-bottom: 10px;
}
.cvotos{
    width: 200px;
    padding-bottom: 10px;
}
.bt_confirmar{
    background-color: #4149b1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #c3b0b0;
    color: white;
    margin: auto;
    display: block;
    float: none;
    margin-top: 40px;
}

.formulario{
    display: inline !important;
    text-align: center;
}

.formulario>form>p>input{
    display: inline !important;
    text-align: center;
}

hr
{
    border-color: #4149b1;
    box-shadow: 0px 0px 10px #4149b185;
    margin-bottom: 50px;
    margin-top: 40px;
    width: calc(100% - 80px);
}

hr.linea{
    border: 1px solid black !important;
}

h1
{
    font-size: 2em;
}

h3
{
    font-size: 1.5em;
}

.resultados .full_tabla
{
    max-width: 1200px;
    margin: auto;
    display: flex;
    vertical-align: top;
}

.resultados .tabla
{
    width: calc(100% - 405px);
    min-width: 500px;
    display: inline-table;
    float: left;
}

.chart-resultados {
    width: 400px;
    display: inline-block;
}