{% load static %}
{% block content %}
      <footer>
      <!--
        <div class="social">
          <a href="https://www.facebook.com/escrutiniosummit/">
            <span class="icon icon-facebook"></span>
          </a>
          <a href="https://twitter.com/escrutinio">
            <span class="icon icon-twitter"></span>
          </a>
          <a href="https://www.youtube.com/channel/UCep7aztJ6J1_0zbXDLLA2QQ?view_as=subscriber">
            <span class="icon icon-youtube"></span>
          </a>
          <a href="https://www.instagram.com/escrutiniosummit/">
            <span class="icon icon-instagram"></span>
          </a>
        </div>
      -->
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-3">
            <a href="/contacto">
                <img class="logo_unif" src="{% static 'img/logo_unif.png' %}" class="logo" style="margin-top: 10px; float: right;"/>
            </a>
          </div>
        </div>
      </footer>
{% endblock %}