{% load static %} {% block content %}
<div class="portada">
    <img src="{% static 'img/logo_voto.png' %}" alt="logoescrutinio">
    {% if titulo_header %}
        <h1>{{titulo_header}}</h1>
    {% else %}
        <h1>Sistema de Escrutinio</h1>
    {% endif %}
    <div class="mobile">
        <img src="{% static 'img/logo_voto.png' %}" alt="">
    </div>
</div>
{% endblock %}