{% load static %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Sistema de Escrutinio{% endblock %}</title>
    {% if refresh %}<meta http-equiv="refresh" content="{{refresh}}"/>{%endif%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabs.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/popups.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabla.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/filter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mesas.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsables.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/resultados.css' %}" />
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}">
    <style type="text/css">
      @font-face {
        font-family: Archia;
        font-weight: normal;
        src: url({% static 'fonts/Archia-Regular.otf' %}) format('truetype');
        src: local({% static 'fonts/Archia-Regular.otf' %}) format('truetype');
     }
      @font-face {
        font-family: Archia;
        font-weight: bold;
        src: url({% static 'fonts/Archia-Bold.otf' %}) format('truetype');
        src: local({% static 'fonts/Archia-Bold.otf' %}) format('truetype');
     }
      @font-face {
        font-family: Archia;
        font-weight: lighter;
        src: url({% static 'fonts/Archia-Thin.otf' %}) format('truetype');
        src: local({% static 'fonts/Archia-Thin.otf' %}) format('truetype');
     }
    </style>
  </head>
{% endblock %}