{% load static %}
{% block content %}
    <scripts>
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lightbox.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/change_links.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popup.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
        {% if form %}<script src='https://www.google.com/recaptcha/api.js'></script>{% endif %}
    </scripts>
{% endblock %}