{% extends 'base.html' %}
{% load static %}
{% load table_tags %}

{% block content %}
    <div class="acta">
        <div class="informacion">
            <div class="basica col-md-4">
                <h1><b>{{eleccion.nombre}}</b>({{eleccion.fecha.date}})</h1>
                <h3><b>Escuela: </b>{{mesa.escuela.nombre}}</h3>
                <h3>
                    <b>Mesa:</b> {{mesa.numero}} 
                    {% if mesa.testigo %}
                        <b>(Testigo)</b>
                    {% endif %}
                    {%if mesa.extranjeros %}
                        <b>(Extranjeros)</b>
                    {% endif %}
                </h3>
                <h3><b>Cantidad de Electores:</b> {{acta.celectores}}</h3>
            </div>
            <div class="localizacion_carga col-md-6">
                <h3><b>Seccion: </b>{{mesa.escuela.circuito.municipio.seccion.alpha_id}}-{{mesa.escuela.circuito.municipio.seccion.nombre}}</h3>
                <h3><b>Municipio: </b>{{mesa.escuela.circuito.municipio.alpha_id}}-{{mesa.escuela.circuito.municipio.nombre}}</h3>
                <h3><b>Circuito: </b>{{mesa.escuela.circuito.alpha_id}}-{{mesa.escuela.circuito.nombre}}</h3>
            </div>
            <div class="info_extra col-md-2">
                <div>
                    <ul class='status_superior'>
                    {% if carga %}
                        <h2><li>Se Guardo con exito! <img style="width:50px;" src="{% static 'img/icons/check.png' %}"></li></h2>
                    {% endif %}
                    {% if acta.escaneado %}
                        <a href="/{{acta.escaneado.url}}" target="_blank"><li class="veracta">Ver Acta Scanneada</li></a>
                        <a href="/subir_acta/{{eleccion.id}}/{{mesa.numero}}/" target="_blank"><li class="subiracta">Remplazar Acta Scanneada</li></a>
                    {% else %}
                        <a href="/subir_acta/{{eleccion.id}}/{{mesa.numero}}/" target="_blank"><li class="subiracta">Subir Acta Scanneada</li></a>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        
        <hr>

        <div class="full_tabla">
            <form action="" name="Pedido" method="POST">
            {% csrf_token %}
                <table class="tabla">
                    <thead class="cabecera">
                        <tr class="tr_header">
                            {% for columna in header %}
                                {% if columna.get_cname == 'columna' %}
                                    <th class="colfijas">{{columna.nombre}}</th>
                                {% elif columna.get_cname == 'cargo' %}
                                    <th class="colcantidades">{{columna.nombre}}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr_vacia">
                            <td colspan="{{ header|length }}"></td>
                        </tr>
                        {% for lista in listas %}<!-- Se podrian realizar sub filas de lista para misma agrupacion -->
                            <tr class="tr_votos">
                                {% for columna in header %}
                                    {% if columna.get_cname == 'columna' %}
                                        <td class="colfijas">{% obtener_valor lista columna.show_field %}</td>
                                    {% elif columna.get_cname == 'cargo' %}
                                        {% if columna in lista.cargos.all %}
                                            <td class="input colcantidades"> <!-- Deberiamos agregar: autofocus al primero -->
                                                <input id="voto" name="v:{{mesa.id}}-{{lista.id}}-{{columna.id}}" 
                                                type="number" min="0" step="1" pattern="\d+" 
                                                value="{% obtener_votos votos lista columna %}"
                                                min="0"
                                                max="{{acta.celectores}}"/>
                                            </td>
                                        {% elif not columna.lista_field %}
                                            <td class="colcantidades"><div class="vacio">No usar</div></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr class="tr_vacia">
                            <td colspan="{{ header|length }}"></td>
                        </tr>
                        <!-- Se cargan filas de totales -->
                        {% for total in totales %}
                            <tr class="tr_totales {% if total.totales %}{% control_totales header votos conteos %}{% endif %}">
                                <td class="colfijas"></td>
                                <td class="colfijas" style="text-align:right;padding-right:20px;"><b>{{total.nombre}}</b></td>
                                {% for columna in header %}
                                    {% if columna.get_cname == 'cargo' %}
                                        <td class="input colcantidades">
                                            <input name="t:{{mesa.id}}-{{total.id}}-{{columna.id}}" 
                                            type="number" min="0" step="1" pattern="\d+" 
                                            value="{% obtener_conteos conteos total columna %}"
                                            min="0"
                                            max="{{acta.celectores}}"/>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button class="bt_confirmar">Enviar Acta</button>
            </form>
        </div>
    </div>
    <br><br><br><br><br>
{% endblock %}