{% extends 'base.html' %}
{% load static %}
{% load table_tags %}

{% block content %}
    <div class="acta">
        <div class="localizacion" style="text-align: right;">
            {%if carga %}
                <h2><b>Se Guardo con exito! </b><img style="width:50px;" src="{% static 'img/icons/check.png' %}"></h2>
            {% endif %}
        </div>
        <div class="informacion">
            <div class="basica">
                <h1 style="float:left;"><b>{{eleccion.nombre}}</b>({{eleccion.fecha.date}})</h1>
                <h3><b>Escuela: </b>{{mesa.escuela.numero}}-{{mesa.escuela.nombre}}</h3>
                <h3><b>Mesa: </b>{{mesa.numero}} {% if mesa.testigo %}<b>(Testigo)</b>{% endif %} <a href="{% url 'core:cargar_acta' eleccion.id mesa.numero %}">(Volver al acta)</a></h3>
                <h3><b>Cantidad de Electores:</b> {{mesa.acta.celectores}}</h3>
            </div>
            <div class="localizacion">
                <h3><b>Seccion: </b>{{mesa.escuela.circuito.municipio.seccion.alpha_id}}-{{mesa.escuela.circuito.municipio.seccion.nombre}}</h3>
                <h3><b>Municipio: </b>{{mesa.escuela.circuito.municipio.alpha_id}}-{{mesa.escuela.circuito.municipio.nombre}}</h3>
                <h3><b>Circuito: </b>{{mesa.escuela.circuito.alpha_id}}-{{mesa.escuela.circuito.nombre}}</h3>
            </div>
        </div>
        <hr class="linea">
        <div class="formulario">
            {% if form %}
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Subir</button>
                </form>
            {% endif %}
        </div>
    </div>
    <br><br><br><br><br>
{% endblock %}