{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="centrado">
        <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal" style="margin:10px;"> 
            {% csrf_token %}
            <p>Realizar la carga del acta para Eleccion: {{ eleccion.nombre }}</p>
            <p>Mesa:</p>
            <input name="mesa_numero" type="number" min="0" step="1" pattern="\d+" value="" autofocus/>
            <div class="form-group">                    
                <div style="margin:10px;">
                    <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Cargar</button>
                </div> 
            </div>
        </form>
    </div>
{% endblock %}